<% include ../partials/header %>
<h1>PetTracker</h1>

<h2>Pets</h2>

<table class="pet-list">
  <thead>
    <tr>
      <th>Pet Name</th>
      <th>Species</th>
    </tr>
  </thead>
  <tbody>
    <% pets.forEach(function(pet) { %>
    <tr>
      <td class="pet-name" data-id="<%= pet.pet_id %>"><%= pet.name %></td>
      <td><%= pet.species_name %></td>
    </tr>
    <% }) %>
  </tbody>
</table>

<div id="pet-owners">
  <h2><span id="owners-pet-name"></span>'s Owners</h3>
  <ul id="owners-list">

  </ul>
</div>

<% include ../partials/footer %>